* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --background-color: darkslategray;
  --node-frame-color: #c7c3ba;
  --node-ports-color: #eee9dc;
  --toolbox-background: #b8c7bc94;
  --toolbox-element: #eee9dc;
  --toolbar-color: #1e3434;
  --accent-color: #ffc55b;
  --selected-color: sandybrown;
  --tag-color: #84788a;
}

html,
body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

a {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Old versions of Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}




/***********************************

UTILITY STYLES

***********************************/

[hidden] {
  display: none !important;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/***********************************

MENU

***********************************/


.menu {
  background: var(--toolbar-color);
  color: white;
  display: flex;
  position: relative;
  padding: 0.3rem 0.4rem 0.2rem 0.4rem;
  z-index: 10;
  gap: 0.3rem;
  box-shadow: 0 0 3px 1px #000000c5;
}


.menu-item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.3rem 0.5rem;
  color: rgb(194, 194, 194);
  text-decoration: none;
  border-radius: 0.3rem;
}

.menu-item.btn:hover {
  background: #ccc9bc4b;
  box-shadow: 0 0 1px 1px #0000006e;
  color: white;
  cursor: pointer;
}

.github-logo {
  color: inherit;
  position: absolute;
  right: 10px;
  top: 5px;
  height: 100%;
  opacity: .8;
}

.github-logo:hover {
  cursor: pointer;
  opacity: 1;
}

.dropdown-container {
  position: relative;
}

.dropdown-list {
  z-index: 11;
  background: var(--accent-color);
  position: absolute;
  padding: 5px;
  top: 100%;
  left: 0;
  box-sizing: border-box;
  width: max-content;
/*  opacity: 0%;*/
/*  transition: opacity 0.2s, visibility .2s, background .2s;*/
  visibility: hidden;
}

.workspace {
  position: relative;
  flex: 1;
  display: flex;
}


/***********************************

TOOLBOX

***********************************/

.node-toolbox {
  position: absolute;
  width: 350px;
  background-color: var(--toolbox-background);
  right: 0;
  max-height: calc(100% - 1rem);
  margin: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px 1px #202020;
  padding: 0.5rem 0;
  gap: 0.5em;
  backdrop-filter: blur(10px);
}

.node-search {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.node-search span {
  color:black;
  font-weight: bold;
  font-size: larger;
}


.node-search input{
  background-color: #dbdbdb;
  color: var(--toolbar-color);
  width: 75%;
  border-radius: 0.4em; 
  border: 1px solid var(--toolbox-element); 
  padding: .3rem 0.5rem;
}

.node-search input::placeholder {
  color: rgb(37, 37, 37);
}


.toolbox-scroller {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #757575 transparent;
  padding-left: 0.3rem;
}

.node-result {
  padding: 0.3rem 0.4rem; 
  background: var(--toolbox-element); 
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: relative;
  box-shadow: 0 0 2px 1px #575757;
  margin: 2px;
  opacity: 0.8;
}

.node-result:hover {
  cursor: grab;
  box-shadow: 0 0 3px 1px #3a3a3a;
  opacity: 1;
}


.node-type {
  font-weight: bold;
  font-family: monospace;
  color: #1a1a1a;
}

.node-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
}

.node-tag {
  font-size: 0.7rem;
  padding: 3px 6px;
  background: var(--tag-color);
  color: var(--toolbox-element);
  font-family: monospace;
  border-radius: 5px;
}

.node-docstring {
  font-size: .8rem; 
  color: #4b4b4b;
  font-style: italic;
  word-wrap: break-word;
}


/***********************************

DROPDOWN

***********************************/

.dropdown-container:hover .dropdown-list {
/*  opacity: 100%;*/
  visibility: visible;
}


.bottom-container {
  background: blue;
  display: flex;
  flex: 1;
  overflow: hidden;
}

/***********************************

DATAFLOW

***********************************/


.dataflow {
  flex: 1;
  position: relative;
  overflow: hidden;
}

#background {
  --grid-size: 50px;
  --dot: 1px;

  background-size: calc(var(--grid-size) * var(--scale, 1))
    calc(var(--grid-size) * var(--scale, 1));
  background-image: radial-gradient(
    circle,
    rgb(148, 148, 148) var(--dot),
    var(--background-color) var(--dot)
  );
  background-position: var(--offset-x, 0) var(--offset-y, 0);
  width: 100%;
  height: 100%;
  position: absolute;
}

.edges {
  width: 1px;
  height: 1px;
  overflow: visible;
  left: 0px;
  top: 0px;
  position: absolute;
}

.edge {
  stroke: gold;
  stroke-linecap: round;
  fill: none;
  z-index: 99999999;
}


.edge-arrow:hover {
  fill: red;
}


.nodes {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/***********************************

NODE UI

***********************************/

.node {
  position: absolute;
  min-width: 150px;
  height: min-content;
  font-family: monospace;
  border-radius:  0.3rem;
  box-shadow: 0 0 2px 1px #202020;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  background-color: var(--node-frame-color);
}

.node:hover {
  box-shadow: 0 0 14px 2px #202020;
}

.selected-node {
  outline: 3px solid var(--selected-color);
}

.node-title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.3rem 0.3rem 0.1rem 0.3rem;
  border-radius: 0.3rem 0.3rem 0 0;
}

.node-name {
  font-weight: bold;
}

.node-id-value {
  width: max-content;
  border-radius: .5rem;
  padding: .1rem;
  padding-left: .2rem;
  padding-right: .2rem;
  border-radius: .2rem;
}

.node-id-value:hover {
  background: white;
  cursor: text;
}

.node-id {
  color: rgb(109, 109, 109); 
  font-size: .7rem;
  font-style: italic;
}

.node-content {
  display: flex;
  justify-content: center;
}

.node-view {
  height: min-content;
}

.node-ports {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.3rem;
  background: var(--node-ports-color);
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

/***********************************

PORTS

***********************************/


.ports-container {
  display: flex; 
  flex-direction: column;
  gap: 0.25rem;
}

.port {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: grey;
/*  z-index: 100;*/
  box-shadow: 0 0 0 1px rgb(75, 75, 75);
}

.port:hover,
.port[elementOf]:hover {
  background: var(--selected-color);
  cursor: default;
}

.port[is_array][is_sink] {
  border-radius: 0px;
}

.port[elementOf] {
  background: #4c994c;
}

[is_required] {
  font-weight: bold;
}


.label {
  position: absolute; 
  border-radius: .2em;
  padding: .1em .5em;
  font-size: .8rem;
  min-width: 30px;
  text-align: center;
  box-shadow: 0 0 0 1px #1d1d1da8;
}

.label-input {
  background: none;
  border: none;
  text-align: center;
}

/***********************************

ARGS

***********************************/


.all-arg-params {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  padding: 0.1rem 0.3rem;
  gap: 0.4rem;
}

.arg-param-value[null-arg-param] {
  background-color: #ef9696;
}


.arg-param {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.arg-param-value:hover {
  background: white;
  cursor: text;
}

.arg-param-value {
  padding: 0.1rem 0.2rem;
  border-radius: .2rem;
  background: #eee9dc;
  box-shadow: 0 0 0 1px #747474;
}

/* SPINNER */

.spinner-overlay {
  position: fixed;
  top: 40px;
  left: 10px;
  padding-left: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  z-index: 10000000000;
  pointer-events: none;
  background: #d8d7ce;
  border: black 1px solid;
  display: flex;
  font-family: monospace;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #80958f;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  margin: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dropdown-container {
    position: relative;
    cursor: pointer;
    display: inline-block; /* Allows the :hover to work properly */
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #1e3434;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  transform: translate(0px, 8px);
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  gap: .5rem;
}

.dropdown-item {
  padding: .5rem;
}

.dropdown-item:hover {
  background-color: #244141;
}

/* Show dropdown menu on hover */
.dropdown-container:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s, 0s; /* No delay on hover */
}

/* Add delay on mouse out */
.dropdown-container .dropdown {
  transition-delay: .2s, .2s; /* Delay disappearing */
}
